<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>GenoKnoxDutch</title>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<link rel="stylesheet" href="../static/app.css">

</head>
<body>

<header>
  <h1>GenoKnoxDutch</h1>
  <p>Select parts and constraints to generate valid genetic designs.</p>
</header>

<main>
  <div class="col" id="part-panel">
    <div id="part-nav"><h2>Parts</h2></div>
    <div id="part-display"></div>
  </div>
<div class="col" id="selected-col">
  <h2>Selected</h2>
  <div id="selected-list"></div>
</div>
  <div class="col">
    <h2>Options</h2>

    <span class="lbl">Cassettes</span>
    <div class="cass-row">
      <button class="cass on" data-val="1">1</button>
      <button class="cass" data-val="2">2+</button>
    </div>

    <label class="lbl">Max Designs</label>
    <input type="number" id="ndesigns" value="100">

    <label class="lbl">Space ID</label>
    <input type="text" id="spaceid" value="ui_design">

    <label class="lbl">Group ID</label>
    <input type="text" id="groupid" value="ui_group">

 

    <div class="goldbar-box">
  <div class="goldbar-title">Goldbar Code</div>
  <pre class="goldbar" id="goldbar">—</pre>
</div>
    <button id="btn" disabled>Generate</button>
    <p id="status"></p>
  </div>

  <div class="col">
    <p>Total designs: <span id="count">0</span></p>
    <h2>Results</h2>
<div class="results-wrapper">
  <div id="results"></div>

  <div class="export-row" id="export-btns" style="display:none">
    <button class="btn-export" onclick="exportPartsCSV()">Export Parts CSV</button>
    <button class="btn-export" onclick="exportDesignsCSV()">Export Designs CSV</button>
  </div>
</div>
</main>

<script>
  const PARTS = JSON.parse('{{ parts | tojson | safe }}');
</script>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>